# deps
node_modules/
.pnp
.pnp.*
.yarn/*

# testing
coverage/

# next.js
.next/
out/
build/
dist/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# editor
.idea/
.vscode/
*.swp

# typescript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db
